[submodule "themes/kodama-theme"]
	path = themes/kodama-theme
	url = https://github.com/adfaure/kodama-theme
[submodule "themes/DeepThought"]
	path = themes/DeepThought
	url = https://github.com/RatanShreshtha/DeepThought
